body {
  background-color: #fafafa;
}
.navbar h1 {
  font-size: 24px;
  margin: 0;
}
.panel .panel-heading,
.panel .panel-footer {
  background-color: #fff;
}
.panel .panel-heading {
  padding: 15px;
}
.panel .panel-heading h2 {
  font-size: 24px;
}
.panel .panel-heading .panel-msg {
  font-size: 16px;
  margin-top: 10px;
}
.panel .panel-heading .panel-msg .time {
  margin-left: 10px;
}
.panel .panel-body {
  margin: 11px 0;
}
.panel .panel-body h1 {
  font-size: 24px;
}
.panel .panel-body h2 {
  font-size: 20px;
}
.panel .panel-body h3 {
  font-size: 18px;
}
.panel .panel-body h4 {
  font-size: 16px;
}
.panel .panel-body figure {
  padding: 10px 5px;
  background-color: #528199;
  margin: 30px 0 30px;
  overflow-x: auto;
}
.panel .panel-body pre {
  border: 0;
  background-color: transparent;
  color: #fff;
  margin-bottom: 0;
}
.fui-user:before,
.fui-calendar-solid:before {
  padding-right: 5px;
}
.myself {
  padding: 1rem;
}
.myself p {
  margin: 0;
}
.imgWorks {
  margin: 30px 0;
}
.imgWorks img {
  width: 100%;
}
.widget-slowly {
  background-color: #fff;
  padding: 20px;
}
.widget-slowly h4 {
  font-size: 18px;
  letter-spacing: 4px;
  border-bottom: 1px solid #dfdbdb;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 0;
}
.widget-slowly .tag-colud a {
  padding: 0 10px;
  margin: 5px 4px 5px 0;
  font-size: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  float: left;
}
.widget-slowly .tag-colud a:before,
.widget-slowly .tag-colud a:after {
  width: 1px;
  height: 100%;
  content: '';
  position: absolute;
}
.widget-slowly .tag-colud a:hover {
  color: #fff;
  color: #2ecc71;
}
.widget-slowly .tag-colud a:hover::before,
.widget-slowly .tag-colud a:hover::after {
  background-color: #1abc9c;
}
.widget-slowly .tag-colud a:hover:before {
  left: 0;
}
.widget-slowly .tag-colud a:hover:after {
  right: 0;
}
.widget-slowly .pigeonhole ul {
  padding-left: 20px;
}
.widget-slowly .pigeonhole a {
  display: inline-block;
}
.article .panel-heading h2 {
  font-size: 20px;
}
footer.palette {
  padding: 24px;
  text-transform: capitalize;
}
.archive-list a,
.pigeonhole a {
  font-size: 16px;
}
.jumbotron {
  font-size: 36px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination {
  background-color: #eff2f4;
}
.pagination a,
.pagination span {
  line-height: 45px;
  padding: 12px 17px;
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom: 0;
}
.pagination a:hover {
  background-color: #1abc9c;
  color: #fff;
}
.pagination span {
  background-color: #1abc9c;
}
.pagination .extend.prev {
  border-left: 0;
}
.pagination .extend.prev:hover {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination .extend.next {
  border-right: 0;
}
.pagination .extend.next:hover {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
article.article-type-post {
  animation: bounceInUp 1s linear;
  -webkit-animation: bounceInUp 1s linear;
}
article.article-type-post:nth-child(1) {
  animation-duration: 0.5s s;
  -webkit-animation-duration: 0.5s;
}
article.article-type-post:nth-child(2) {
  animation-duration: 1s s;
  -webkit-animation-duration: 1s;
}
article.article-type-post:nth-child(3) {
  animation-duration: 1.5s s;
  -webkit-animation-duration: 1.5s;
}
article.article-type-post:nth-child(4) {
  animation-duration: 2s s;
  -webkit-animation-duration: 2s;
}
article.article-type-post:nth-child(5) {
  animation-duration: 2.5s s;
  -webkit-animation-duration: 2.5s;
}
article.article-type-post:nth-child(6) {
  animation-duration: 3s s;
  -webkit-animation-duration: 3s;
}
article.article-type-post:nth-child(7) {
  animation-duration: 3.5s s;
  -webkit-animation-duration: 3.5s;
}
article.article-type-post:nth-child(8) {
  animation-duration: 4s s;
  -webkit-animation-duration: 4s;
}
article.article-type-post:nth-child(9) {
  animation-duration: 4.5s s;
  -webkit-animation-duration: 4.5s;
}
article.article-type-post:nth-child(10) {
  animation-duration: 5s s;
  -webkit-animation-duration: 5s;
}
.article-more-link {
  margin-top: 30px;
}
.article-more-link a {
  background-color: #127F6A;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
}
.article-more-link a:hover {
  background-color: #1abc9c;
}
.resume .panel-body,
.resume h2 {
  margin: 0;
}
.resume h2 {
  font-size: 26px;
}
.resume h3 {
  font-size: 22px;
}
.resume .panel-body {
  padding: 0 15px;
}
.resume .row {
  margin: 20px 0;
}
.resume .technology .progress {
  height: 20px;
  margin: 0;
}
