body {
  background-color: #fafafa;
}
.navbar {
  background-color: #77beb0;
}
.navbar h1 {
  font-size: 24px;
  margin: 0;
}
.navbar a {
  font-size: 18px;
  color: #fff !important;
}
.navbar a:hover {
  text-shadow: 3px 2px 0px #75ADCB;
  color: #fff !important;
  transition: text-shadow 0.6s linear;
  -moz-transition: text-shadow 0.6s linear;
  /* Firefox 4 */
  -webkit-transition: text-shadow 0.6s linear;
  /* Safari 和 Chrome */
  -o-transition: text-shadow 0.6s linear;
  /* Opera */
}
.panel .panel-heading,
.panel .panel-footer {
  background-color: #fff;
}
.panel .panel-heading {
  padding: 15px;
}
.panel .panel-heading h2 {
  font-size: 24px;
}
.panel .panel-heading .panel-msg {
  font-size: 16px;
  margin-top: 10px;
}
.panel .panel-heading .panel-msg .time {
  margin-left: 10px;
}
.panel .panel-body {
  margin: 11px 0;
}
.panel .panel-body h1 {
  font-size: 24px;
}
.panel .panel-body h2 {
  font-size: 20px;
}
.panel .panel-body h3 {
  font-size: 18px;
}
.panel .panel-body h4 {
  font-size: 16px;
}
.panel .panel-body figure {
  padding: 10px 5px;
  background-color: #528199;
  margin: 30px 0 30px;
  overflow-x: auto;
}
.panel .panel-body pre {
  border: 0;
  background-color: transparent;
  color: #fff;
  margin-bottom: 0;
}
.panel .panel-body blockquote {
  border-color: #127f6a;
}
.panel-title a {
  font-size: 24px;
  position: relative;
  left: 0;
  transition: 0.6s;
  -moz-transition: 0.6s;
  /* Firefox 4 */
  -webkit-transition: 0.6s;
  /* Safari 和 Chrome */
  -o-transition: 0.6s;
  /* Opera */
}
.panel-title a:hover {
  left: 6px;
  color: #75ADCB;
}
.fui-user:before,
.fui-calendar-solid:before {
  padding-right: 5px;
}
.myself {
  padding: 1rem;
}
.myself p {
  margin: 0;
}
.imgWorks {
  margin: 30px 0;
}
.imgWorks img {
  width: 100%;
}
.widget-slowly {
  background-color: #fff;
  padding: 20px;
  animation: bounceInDown 1s linear;
  -webkit-animation: bounceInDown 1s linear;
}
.widget-slowly h4 {
  font-size: 18px;
  letter-spacing: 4px;
  border-bottom: 1px solid #dfdbdb;
  padding-bottom: 10px;
  margin-bottom: 10px;
  margin-top: 0;
}
.widget-slowly .tag-colud a {
  padding: 0 10px;
  margin: 5px 4px 5px 0;
  font-size: 16px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  position: relative;
  float: left;
}
.widget-slowly .pigeonhole ul {
  padding-left: 20px;
}
.widget-slowly .pigeonhole a {
  display: inline-block;
}
.widget-slowly:nth-child(1) {
  animation-duration: 0.8s s;
  -webkit-animation-duration: 0.8s;
}
.widget-slowly:nth-child(2) {
  animation-duration: 1.6s s;
  -webkit-animation-duration: 1.6s;
}
.widget-slowly:nth-child(3) {
  animation-duration: 2.4s s;
  -webkit-animation-duration: 2.4s;
}
.widget-slowly:nth-child(4) {
  animation-duration: 3.2s s;
  -webkit-animation-duration: 3.2s;
}
.article .panel-heading h2 {
  font-size: 20px;
}
footer.palette {
  padding: 24px;
  text-transform: capitalize;
}
.archive-list a,
.pigeonhole a {
  font-size: 16px;
}
.jumbotron {
  font-size: 36px;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pagination {
  background-color: #eff2f4;
}
.pagination a,
.pagination span {
  line-height: 45px;
  padding: 12px 17px;
  border: 1px solid #ddd;
  border-top: 0;
  border-bottom: 0;
}
.pagination a:hover {
  background-color: #1abc9c;
  color: #fff;
}
.pagination span {
  background-color: #1abc9c;
}
.pagination .extend.prev {
  border-left: 0;
}
.pagination .extend.prev:hover {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.pagination .extend.next {
  border-right: 0;
}
.pagination .extend.next:hover {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
article.article-type-post {
  animation: bounceInDown 1s linear;
  -webkit-animation: bounceInDown 1s linear;
}
article.article-type-post:nth-child(1) {
  animation-duration: 0.8s s;
  -webkit-animation-duration: 0.8s;
}
article.article-type-post:nth-child(2) {
  animation-duration: 1.6s s;
  -webkit-animation-duration: 1.6s;
}
article.article-type-post:nth-child(3) {
  animation-duration: 2.4s s;
  -webkit-animation-duration: 2.4s;
}
article.article-type-post:nth-child(4) {
  animation-duration: 3.2s s;
  -webkit-animation-duration: 3.2s;
}
article.article-type-post:nth-child(5) {
  animation-duration: 4s s;
  -webkit-animation-duration: 4s;
}
article.article-type-post:nth-child(6) {
  animation-duration: 4.8s s;
  -webkit-animation-duration: 4.8s;
}
article.article-type-post:nth-child(7) {
  animation-duration: 5.6s s;
  -webkit-animation-duration: 5.6s;
}
article.article-type-post:nth-child(8) {
  animation-duration: 6.4s s;
  -webkit-animation-duration: 6.4s;
}
article.article-type-post:nth-child(9) {
  animation-duration: 7.2s s;
  -webkit-animation-duration: 7.2s;
}
article.article-type-post:nth-child(10) {
  animation-duration: 8s s;
  -webkit-animation-duration: 8s;
}
.article-more-link {
  margin-top: 30px;
}
.article-more-link a {
  background-color: #77beb0;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  font-size: 14px;
}
.article-more-link a:hover {
  box-shadow: 1px 1px 0 #75ADCB;
  background-color: #75ADCB;
  transition: 1s;
  -moz-transition: 1s;
  /* Firefox 4 */
  -webkit-transition: 1s;
  /* Safari 和 Chrome */
  -o-transition: 1s;
  /* Opera */
}
.resume .panel-body,
.resume h2 {
  margin: 0;
}
.resume h2 {
  font-size: 26px;
}
.resume h3 {
  font-size: 22px;
}
.resume .panel-body {
  padding: 0 15px;
}
.resume .row {
  margin: 20px 0;
}
.resume .technology .progress {
  height: 20px;
  margin: 0;
}
.pigeonhole li,
.tag-colud li,
.fui-tag li {
  position: relative;
}
.pigeonhole a,
.tag-colud a,
.fui-tag a {
  position: relative;
  left: 0;
  transition: 0.6s;
  -moz-transition: 0.6s;
  /* Firefox 4 */
  -webkit-transition: 0.6s;
  /* Safari 和 Chrome */
  -o-transition: 0.6s;
  /* Opera */
  color: #77beb0;
}
.pigeonhole a:hover,
.tag-colud a:hover,
.fui-tag a:hover {
  left: 6px;
  color: #75ADCB;
}
@-webkit-keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
@keyframes bounceInUp {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 3000px, 0);
    transform: translate3d(0, 3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, -5px, 0);
    transform: translate3d(0, -5px, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.bounceInUp {
  -webkit-animation-name: bounceInUp;
  animation-name: bounceInUp;
}
@-webkit-keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes bounceInDown {
  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
    transform: translate3d(0, -3000px, 0);
  }
  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
    transform: translate3d(0, 25px, 0);
  }
  75% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }
  90% {
    -webkit-transform: translate3d(0, 5px, 0);
    transform: translate3d(0, 5px, 0);
  }
  to {
    -webkit-transform: none;
    transform: none;
  }
}
.bounceInDown {
  -webkit-animation-name: bounceInDown;
  animation-name: bounceInDown;
}
