html, body {
  height: 100%;
}
body {
  min-width: 320px;
  max-width: 640px;
  margin: 0 auto;
  overflow-x: hidden;
}
.height100 {
  height: 100%;
}
.dis-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.pos-rel {
  position: relative;
}
.fsize28 {
  font-size: 0.28rem;
}
.height56 {
  height: 0.56rem;
  line-height: 0.56rem;
}
.container {
  width: 100%;
  max-width: 640px;
}
.dis-jcc-aic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dis-jcc-aife {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.top-title {
  margin-top: 0.3rem;
  position: relative;
}
.top-title .search-hox-icon {
  width: 0.4rem;
  height: 0.4rem;
  line-height: 0.4rem;
  background: url("../images/search-icon.jpg") no-repeat left center;
  background-size: 100% 100%;
  position: absolute;
  top: 0;
  right: .2rem;
}
.top-title .search-hox-icon.on + .search-hox {
  display: block;
}
.search-frame {
  position: relative;
}
.search-frame .search-not-focus {
  left: 100%;
}
.search-not-focus {
  height: 0.5rem;
  line-height: 0.5rem;
  border: 1px solid #eee;
  border-radius: 50px;
  font-size: 0.2rem;
}
.search-not-focus:before {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.3rem;
  color: #888888;
  text-indent: .2rem;
  content: '请输入搜索内容';
  position: absolute;
  top: 0;
  left: 0;
}
.search-not-focus.on .search-hox {
  display: block;
}
.search-hox {
  width: 100%;
  height: 0.5rem;
  line-height: 0.5rem;
  background-color: #fff;
  border-radius: 50px;
  box-sizing: border-box;
  box-shadow: 0px 2px 3px #f2f2f2;
  position: relative;
  overflow: hidden;
  display: none;
  -webkit-transition: .6s;
  transition: .6s;
  z-index: 999;
}
.search-hox .search {
  width: 5rem;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.3rem;
  border: 0;
  border-bottom: 1px solid #eee;
  text-indent: .2rem;
  float: left;
}
.search-hox .weui-icon-clear {
  font-size: 0.25rem;
  position: absolute;
  top: 0.125rem;
  left: 5.3rem;
}
.search-hox .search-cancel {
  width: 0.7rem;
  height: 0.5rem;
  line-height: 0.5rem;
  font-size: 0.2rem;
  text-align: center;
  float: right;
}
.app-title {
  height: 0.4rem;
  line-height: 0.4rem;
  font-size: 0.35rem;
  text-align: center;
  z-index: -1;
  -webkit-transition: 1s;
  transition: 1s;
}
.logo {
  padding-top: 0.88rem;
}
.logo img {
  width: 2.28rem;
  height: 2.28rem;
  line-height: 2.28rem;
}
.id-pwd {
  width: 4.87rem;
  margin-top: 1.4rem;
}
.id-pwd .id, .id-pwd .pwd {
  width: 100%;
  height: 0.9rem;
  line-height: 0.9rem;
  color: #c7c7c7;
  display: block;
}
.id-pwd .id input, .id-pwd .pwd input {
  width: 100%;
  height: 0.85rem;
  line-height: 0.85rem;
  font-size: 0.3rem;
  border: 0;
  border-bottom: 1px solid #eee;
  display: block;
  -webkit-transition: .5s;
  transition: .5s;
}
.id-pwd .id input:focus, .id-pwd .pwd input:focus {
  color: #1c2029;
}
.id-pwd .id:after, .id-pwd .pwd:after {
  content: '';
  border-bottom: 3px solid #1c2029;
  width: 0;
  height: 3px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  -webkit-transition: .5s;
  transition: .5s;
}
.id-pwd .id:after:focus, .id-pwd .pwd:after:focus {
  width: 100%;
}
.id-pwd .hint {
  width: 100%;
  height: 0.6rem;
  line-height: 0.6rem;
  font-size: 0.2rem;
  background-color: #fff;
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #eee;
  -webkit-transition: .5s;
  transition: .5s;
  opacity: 0;
}
.id-pwd.on .hint {
  top: -0.8rem;
  opacity: 1;
}
.id-pwd-tran input {
  text-indent: .2rem;
}
.id-pwd-tran:after {
  width: 100% !important;
}
.login {
  width: 4.87rem;
  height: 0.86rem;
  line-height: 0.86rem;
  color: #fff;
  font-size: 0.28rem;
  background-color: #1c2029;
  border-radius: 5px;
  text-align: center;
  border: 0;
  margin-top: 1.25rem;
  padding: 0;
  display: block;
}
.forget-register {
  color: #888888;
  margin-top: 0.5rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.weui-panel {
  margin-top: 0.05rem;
  margin-bottom: 0.4rem;
}
.weui-navbar {
  position: relative;
}
.weui-tab__panel {
  padding-top: 0.2rem;
  padding-bottom: 2.4rem;
}
.weui-navbar__item {
  padding: 0.18rem 0;
  font-size: 0.28rem;
  color: #969696;
  background-color: #fff;
}
.weui-navbar__item:after {
  border-right: 0;
}
.weui-navbar + .weui-tab__panel {
  padding-top: 1rem;
}
.weui-panel__hd {
  height: 0.26rem;
  line-height: 0.26rem;
  font-size: 0.22rem;
  padding: 0.14rem 0.15rem 0.14rem 0.25rem;
}
.weui-panel__hd:before {
  height: 100%;
  content: '';
  background-color: #000;
  border-left: 5px solid #000;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  position: absolute;
  left: 0;
  top: 0;
}
.weui-panel__hd:after, .weui-cell:before {
  left: 0.15rem;
}
.weui-navbar__item.weui-bar__item_on {
  color: #000;
  background-color: #fff;
}
.weui-navbar__item.weui-bar__item_on:before {
  width: 60%;
  height: 0.05rem;
  line-height: 0.05rem;
  background: #1c2029;
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;
}
.weui-media-box_appmsg .weui-media-box__bd {
  margin-top: -0.3rem;
}
.weui-media-box_appmsg .weui-media-box__hd {
  width: 1.42rem;
  height: 1.86rem;
  line-height: 1.86rem;
  margin-right: 0.4rem;
}
.weui-media-box__title {
  font-size: 0.28rem;
}
.weui-media-box__desc {
  font-size: 0.2rem;
}
.weui-media-box__desc {
  -webkit-line-clamp: 4;
}
.weui-panel .weui-panel__bd:not(:last-child) {
  border-bottom: 1px solid #f2f2f2;
}
.weui-tab h2 {
  line-height: 0.56rem;
  font-size: 0.48rem;
  text-indent: .2rem;
  margin-top: 0.2rem;
  margin-bottom: 0.2rem;
}
.weui-tab .weui-cells .weui-cell__bd {
  font-size: 0.26rem;
}
.weui-article h1 {
  font-size: 0.4rem;
  line-height: 0.48rem;
}
.weui-article p {
  line-height: 0.4rem;
  font-size: 0.24rem;
}
.feature-button {
  position: fixed;
  right: 0.2rem;
  bottom: 0.2rem;
  margin: auto;
  width: 0.64rem;
  height: 0.64rem;
  line-height: 0.64rem;
  background-color: #000;
  background: url("../images/feature-icon.jpg") bottom left;
  background-size: 0.64rem;
}
.feature-button .li {
  width: 0.64rem;
  height: 0.64rem;
  line-height: 0.64rem;
  background-color: #000;
  position: absolute;
  top: -0.74rem;
  left: 0;
  display: none;
  background: url("../images/feature-icon.jpg") bottom left;
  background-position: center center;
  background-size: 0.64rem;
}
.feature-button .li:nth-child(2) {
  background-position: top center;
  top: -1.48rem;
}
.feature-button.on .li {
  display: block;
}
.feature-menu {
  width: 0.64rem;
  position: absolute;
  right: 0.2rem;
  bottom: 0.84rem;
}
.feature-menu .li {
  width: 0.64rem;
  height: 0.64rem;
  line-height: 0.64rem;
  background-color: #000;
  position: absolute;
  top: -0.74rem;
  left: 0;
  display: none;
  background: url("../images/feature-icon.jpg") bottom left;
  background-position: center center;
  background-size: 0.64rem;
}
.feature-menu .li:nth-child(2) {
  background-position: top center;
  top: -1.48rem;
}
