body {
  background-color: #f4f4f4;
}
.banner {
  width: 100%;
}
.balance,
.combo {
  background-color: #fff;
  margin-top: 1.0625rem;
  overflow: hidden;
}
.balance > .title,
.combo > .title {
  border-bottom: 1px solid #efefef;
}
.balance > .title > .main,
.combo > .title > .main {
  width: 10.625rem;
  height: 5rem;
  line-height: 5rem;
  font-size: 1.875rem;
  text-indent: 2.625rem;
  background: url("../images/balance.jpg") no-repeat left center;
  background-size: 1.8125rem 2.1875rem;
  margin: 0 auto;
}
.balance .main,
.combo .main {
  overflow: hidden;
}
.balance {
  padding-bottom: 1.875rem;
}
.balance .con {
  width: 50%;
  position: relative;
  float: left;
}
.balance .con .data,
.balance .con .title,
.balance .con .link {
  text-align: center;
}
.balance .con .data {
  font-size: 2.375rem;
  color: #1baa5c;
  margin-top: 2.1875rem;
}
.balance .con .title {
  font-size: 1.625rem;
  color: #999999;
  margin: 1.875rem 0;
}
.balance .con .link {
  width: 70%;
  height: 4.1875rem;
  line-height: 4.1875rem;
  color: #1cc86a;
  font-size: 1.75rem;
  border: 1px solid #1cc86a;
  border-radius: 50px;
  margin: 0 auto;
  display: block;
}
.balance .con .free {
  width: 8.625rem;
  height: 2.0625rem;
  position: absolute;
  left: 0;
  top: 0;
}
.combo > .title > .main {
  background: url("../images/combo.jpg") no-repeat left center;
  background-size: 1.8125rem 2.1875rem;
}
.combo .con {
  width: 50%;
  border-bottom: 1px solid #eeeeee;
  float: left;
}
.combo .con:nth-child(even) .link {
  border-left: 1px solid #eeeeee;
}
.combo .link {
  height: 5.25rem;
  background: url("../images/combo-link.jpg") no-repeat left 1.3125rem center;
  background-size: 5.25rem 5.25rem;
  padding: 2.25rem 0;
  display: block;
  position: relative;
}
.combo .link .num,
.combo .link .describe {
  margin-left: 7.9375rem;
}
.combo .link .num {
  color: #000;
  font-size: 2.375rem;
}
.combo .link .describe {
  color: #999;
  font-size: 1.375rem;
  margin-top: 1rem;
}
.combo .link .arrow {
  width: 1.0625rem;
  height: 1.8125rem;
  position: absolute;
  right: 1.625rem;
  top: 4rem;
}
.footer {
  width: 20rem;
  height: 5.3125rem;
  line-height: 5.3125rem;
  font-size: 1.25rem;
  text-indent: 4.4375rem;
  margin: 0 auto;
  background: url("../images/footer-icon.jpg") no-repeat left center;
}
.sum-payment {
  background-color: #fff;
  margin-top: 1.25rem;
}
.sum-payment .con {
  height: 9.375rem;
  background: url("../images/sum.jpg") no-repeat left 1.1875rem center;
  background-size: 5rem 4.875rem;
  border-bottom: 1px solid #eee;
  overflow: hidden;
}
.sum-payment .con .num,
.sum-payment .con .pay {
  text-indent: 8.0625rem;
}
.sum-payment .con .num {
  font-size: 2.125rem;
  margin: 1.875rem 0 1rem;
}
.sum-payment .con .pay {
  font-size: 1.75rem;
  color: #999;
}
.sum-payment .con-a {
  height: 6.5625rem;
  overflow: hidden;
  margin: 0 1.1875rem;
}
.sum-payment .con-a .txt {
  line-height: 6.5625rem;
  font-size: 1.75rem;
  color: #666;
  float: left;
}
.sum-payment .con-a .num {
  text-align: right;
  float: right;
}
.sum-payment .con-a .num .num-a {
  height: 3.375rem;
  line-height: 3.375rem;
  color: #ed2027;
  font-size: 1.75rem;
  margin-top: 0.8125rem;
}
.sum-payment .con-a .num .num-b {
  font-size: 1.125rem;
}
.type-payment {
  background-color: #fff;
  margin-top: 1.25rem;
}
.type-payment .title {
  height: 5rem;
  line-height: 5rem;
  font-size: 1.625rem;
  text-align: center;
  border-bottom: 1px solid #eee;
}
.type-payment .container {
  border-bottom: 1px solid #eee;
  overflow: hidden;
  position: relative;
}
.type-payment .container .left {
  height: 9.375rem;
  border-bottom: 1px solid #eee;
  overflow: hidden;
  float: left;
}
.type-payment .container .left i {
  font-style: normal;
}
.type-payment .container .left .txt {
  float: left;
}
.type-payment .container .left .num,
.type-payment .container .left .pay {
  text-indent: 8.0625rem;
}
.type-payment .container .left .num {
  font-size: 2.125rem;
  margin: 1.875rem 0 1rem;
  overflow: hidden;
}
.type-payment .container .left .pay {
  font-size: 1.75rem;
  color: #666;
}
.type-payment .container .right {
  height: 9.375rem;
  line-height: 9.375rem;
  font-size: 1.375rem;
  color: #bdbdbd;
  margin-right: 3.125rem;
  float: right;
}
.type-payment .container .arrow {
  width: 1.0625rem;
  height: 1.9375rem;
  position: absolute;
  right: 1.0625rem;
  top: 3.75rem;
}
.type-payment .container .tui {
  width: 4.375rem;
  height: 2.25rem;
  margin-left: 0.9375rem;
  float: left;
}
.type-payment .xiaBi {
  background: url("../images/sum.jpg") no-repeat left 1.1875rem center;
  background-size: 5rem 4.875rem;
}
.type-payment .xiaBi .left .pay {
  color: #ed2027;
}
.type-payment .yue {
  background: url("../images/yue.jpg") no-repeat left 1.1875rem center;
  background-size: 3.9375rem 3.75rem;
}
.type-payment .wx {
  background: url("../images/wx.jpg") no-repeat left 1.1875rem center;
  background-size: 4.625rem 3.8125rem;
}
.type-payment .zfb {
  background: url("../images/zfb.jpg") no-repeat left 1.1875rem center;
  background-size: 4rem 4rem;
}
.error-msg {
  height: 3.125rem;
  line-height: 3.125rem;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 6.25rem;
}
@media screen and (max-width: 660px) {
  .balance > .title > .main,
  .combo > .title > .main {
    width: 10.625rem;
    height: 5rem;
    line-height: 5rem;
    font-size: 1.75rem;
    text-indent: 2.625rem;
  }
  .balance .con .data {
    font-size: 2.125rem;
    margin-top: 2.1875rem;
  }
  .balance .con .title {
    font-size: 1.375rem;
    margin: 1.5rem 0;
  }
  .balance .con .link {
    width: 60%;
    height: 3.125rem;
    line-height: 3.125rem;
    font-size: 1.375rem;
  }
  .balance .con .free {
    width: 8.625rem;
    height: 2.0625rem;
  }
  .combo .link {
    height: 4.375rem;
    background-size: 5.25rem 5.25rem;
    padding: 2.25rem 0;
    background: url("../images/combo-link.jpg") no-repeat left 1.3125rem center;
    background-size: 4.375rem 4.375rem;
  }
  .combo .link .num,
  .combo .link .describe {
    margin-left: 6.875rem;
  }
  .combo .link .num {
    font-size: 2.125rem;
  }
  .combo .link .describe {
    font-size: 1.125rem;
    margin-top: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .balance > .title > .main,
  .combo > .title > .main {
    width: 9.375rem;
    height: 4.375rem;
    line-height: 4.375rem;
    font-size: 1.5rem;
    text-indent: 2.625rem;
  }
  .balance .con .data {
    font-size: 1.875rem;
    margin-top: 2.1875rem;
  }
  .balance .con .title {
    font-size: 1.125rem;
    margin: 1.25rem 0;
  }
  .balance .con .link {
    width: 50%;
    height: 2.8125rem;
    line-height: 2.8125rem;
    font-size: 1.125rem;
  }
  .balance .con .free {
    width: 7.5rem;
    height: auto;
  }
  .combo .link {
    height: 3.75rem;
    background-size: 5.25rem 5.25rem;
    padding: 1.25rem 0;
    background: url("../images/combo-link.jpg") no-repeat left 1.3125rem center;
    background-size: 3.75rem 3.75rem;
  }
  .combo .link .num {
    font-size: 1.75rem;
  }
  .combo .link .describe {
    font-size: 1rem;
    margin-top: 0.75rem;
  }
  .combo .link .num,
  .combo .link .describe {
    margin-left: 6.25rem;
  }
  .combo .link .arrow {
    width: 0.9375rem;
    height: 1.6875rem;
    position: absolute;
    right: 1.625rem;
    top: 50%;
    margin-top: -0.84375rem;
  }
  .footer {
    width: 18.125rem;
    text-indent: 3.75rem;
    background: url("../images/footer-icon.jpg") no-repeat left center;
    background-size: 2.875rem 2.3125rem;
  }
  .footer a {
    font-size: 1.125rem;
  }
  .sum-payment {
    margin-top: 0.9375rem;
  }
  .sum-payment .con {
    height: 7.5rem;
    background: url("../images/sum.jpg") no-repeat left 0.9375rem center;
    background-size: 4rem 3.9375rem;
  }
  .sum-payment .con .num,
  .sum-payment .con .pay {
    text-indent: 6.5625rem;
  }
  .sum-payment .con .num {
    font-size: 1.75rem;
    margin: 1.8125rem 0 0.8125rem;
  }
  .sum-payment .con .pay {
    font-size: 1.375rem;
  }
  .sum-payment .con-a {
    height: 5.25rem;
    margin: 0 0.9375rem;
  }
  .sum-payment .con-a .txt {
    line-height: 5.25rem;
    font-size: 1.4375rem;
  }
  .sum-payment .con-a .num .num-a {
    height: 2rem;
    line-height: 2rem;
    font-size: 1.4375rem;
    margin-top: 0.875rem;
  }
  .sum-payment .con-a .num .num-b {
    font-size: 0.875rem;
  }
  .type-payment {
    margin-top: 0.9375rem;
  }
  .type-payment .title {
    height: 4rem;
    line-height: 4rem;
    font-size: 1.375rem;
  }
  .type-payment .container {
    overflow: hidden;
  }
  .type-payment .container .left {
    height: 7.5rem;
    border-bottom: 1px solid #eee;
  }
  .type-payment .container .left .num,
  .type-payment .container .left .pay {
    text-indent: 6.5rem;
  }
  .type-payment .container .left .num {
    font-size: 1.5625rem;
    margin: 1.5625rem 0 0.875rem;
  }
  .type-payment .container .left .pay {
    font-size: 1.3125rem;
  }
  .type-payment .container .right {
    height: 7.5rem;
    line-height: 7.5rem;
    font-size: 1.25rem;
    margin-right: 2.5rem;
  }
  .type-payment .container .arrow {
    width: 0.75rem;
    height: 1.625rem;
    position: absolute;
    right: 0.6875rem;
    top: 50%;
    margin-top: -0.8125rem;
  }
  .type-payment .container .tui {
    width: 3.625rem;
    height: 1.75rem;
    margin-left: 0.75rem;
  }
  .type-payment .xiaBi {
    background: url("../images/sum.jpg") no-repeat left 0.9375rem center;
    background-size: 3.375rem 3.3125rem;
  }
  .type-payment .yue {
    background: url("../images/yue.jpg") no-repeat left 0.9375rem center;
    background-size: 3.1875rem 3.0625rem;
  }
  .type-payment .wx {
    background: url("../images/wx.jpg") no-repeat left 0.9375rem center;
    background-size: 3.75rem 3.0625rem;
  }
  .type-payment .zfb {
    background: url("../images/zfb.jpg") no-repeat left 0.9375rem center;
    background-size: 3.25rem 3.25rem;
  }
  .error-msg {
    font-size: 1.25rem;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 540px) {
  .balance > .title > .main,
  .combo > .title > .main {
    width: 8.625rem;
    height: 3.75rem;
    line-height: 3.75rem;
    font-size: 1.5rem;
    text-indent: 2.375rem;
    background: url("../images/balance.jpg") no-repeat left center;
    background-size: 1.375rem 1.6875rem;
  }
  .balance .con .data {
    font-size: 1.5rem;
    margin-top: 2.1875rem;
  }
  .balance .con .title {
    font-size: 1.125rem;
    margin: 0.875rem 0;
  }
  .balance .con .link {
    width: 50%;
    height: 2.375rem;
    line-height: 2.375rem;
    font-size: 1.125rem;
  }
  .balance .con .free {
    width: 6.25rem;
    height: auto;
  }
  .combo > .title > .main {
    background: url("../images/combo.jpg") no-repeat left center;
    background-size: 1.375rem 1.6875rem;
  }
  .combo .link {
    height: 3.125rem;
    padding: 1.25rem 0;
    background: url("../images/combo-link.jpg") no-repeat left 1.3125rem center;
    background-size: 3.125rem 3.125rem;
  }
  .combo .link .num {
    font-size: 1.5rem;
  }
  .combo .link .describe {
    font-size: 0.875rem;
    margin-top: 0.625rem;
  }
  .combo .link .num,
  .combo .link .describe {
    margin-left: 5.625rem;
  }
  .combo .link .arrow {
    width: 0.9375rem;
    height: 1.6875rem;
    position: absolute;
    right: 1.375rem;
    top: 50%;
    margin-top: -0.84375rem;
  }
  .sum-payment {
    margin-top: 0.5625rem;
  }
  .sum-payment .con {
    height: 5.875rem;
    background: url("../images/sum.jpg") no-repeat left 0.75rem center;
    background-size: 3.125rem 3.0625rem;
  }
  .sum-payment .con .num,
  .sum-payment .con .pay {
    text-indent: 5.125rem;
  }
  .sum-payment .con .num {
    font-size: 1.375rem;
    margin: 1.375rem 0 0.625rem;
  }
  .sum-payment .con .pay {
    font-size: 1.125rem;
  }
  .sum-payment .con-a {
    height: 4.0625rem;
    margin: 0 0.75rem;
  }
  .sum-payment .con-a .txt {
    line-height: 4.0625rem;
    font-size: 1.125rem;
  }
  .sum-payment .con-a .num .num-a {
    height: 1.5rem;
    line-height: 1.5rem;
    font-size: 1.125rem;
    margin-top: 0.875rem;
  }
  .sum-payment .con-a .num .num-b {
    font-size: 0.75rem;
  }
  .type-payment {
    margin-top: 0.5625rem;
  }
  .type-payment .title {
    height: 3.125rem;
    line-height: 3.125rem;
    font-size: 1.125rem;
  }
  .type-payment .container {
    overflow: hidden;
  }
  .type-payment .container .left {
    height: 5.8125rem;
    border-bottom: 1px solid #eee;
  }
  .type-payment .container .left .num,
  .type-payment .container .left .pay {
    text-indent: 4.0625rem;
  }
  .type-payment .container .left .num {
    font-size: 1.25rem;
    margin: 1.1875rem 0 0.625rem;
  }
  .type-payment .container .left .pay {
    font-size: 1.0625rem;
  }
  .type-payment .container .right {
    height: 5.8125rem;
    line-height: 5.8125rem;
    font-size: 0.875rem;
    margin-right: 1.9375rem;
  }
  .type-payment .container .arrow {
    width: 0.625rem;
    height: 1.1875rem;
    position: absolute;
    right: 0.6875rem;
    top: 50%;
    margin-top: -0.5rem;
  }
  .type-payment .container .tui {
    width: 2.25rem;
    height: 1.1875rem;
    margin-left: 0.625rem;
  }
  .type-payment .xiaBi {
    background: url("../images/sum.jpg") no-repeat left 0.75rem center;
    background-size: 2.625rem 2.625rem;
  }
  .type-payment .yue {
    background: url("../images/yue.jpg") no-repeat left 0.75rem center;
    background-size: 2.5rem 2.375rem;
  }
  .type-payment .wx {
    background: url("../images/wx.jpg") no-repeat left 0.75rem center;
    background-size: 2.875rem 2.375rem;
  }
  .type-payment .zfb {
    background: url("../images/zfb.jpg") no-repeat left 0.75rem center;
    background-size: 2.5rem 2.5rem;
  }
  .error-msg {
    font-size: 1rem;
    margin-bottom: 3.125rem;
  }
}
@media screen and (max-width: 470px) {
  .balance > .title > .main,
  .combo > .title > .main {
    width: 8.625rem;
    height: 3.375rem;
    line-height: 3.375rem;
    font-size: 1.5rem;
    text-indent: 2.375rem;
    background: url("../images/balance.jpg") no-repeat left center;
    background-size: 1.375rem 1.6875rem;
  }
  .balance .con .data {
    font-size: 1.375rem;
    margin-top: 2.1875rem;
  }
  .balance .con .title {
    font-size: 1rem;
    margin: 0.875rem 0;
  }
  .balance .con .link {
    width: 50%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
  }
  .balance .con .free {
    width: 6.25rem;
    height: auto;
  }
  .combo > .title > .main {
    background: url("../images/combo.jpg") no-repeat left center;
    background-size: 1.375rem 1.6875rem;
  }
  .combo .link {
    height: 2.5rem;
    padding: 1.125rem 0;
    background: url("../images/combo-link.jpg") no-repeat left 0.875rem center;
    background-size: 2.5rem 2.5rem;
  }
  .combo .link .num {
    font-size: 1.25rem;
  }
  .combo .link .describe {
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }
  .combo .link .num,
  .combo .link .describe {
    margin-left: 4rem;
  }
  .combo .link .arrow {
    width: 0.75rem;
    height: 1.3125rem;
    position: absolute;
    right: 0.75rem;
    top: 50%;
    margin-top: -0.65625rem;
  }
  .sum-payment {
    margin-top: 1rem;
  }
  .sum-payment .con {
    height: 4.0625rem;
    background: url("../images/sum.jpg") no-repeat left 0.5625rem center;
    background-size: 2.5rem 2.5625rem;
  }
  .sum-payment .con .num,
  .sum-payment .con .pay {
    text-indent: 4.125rem;
  }
  .sum-payment .con .num {
    font-size: 1.125rem;
    margin: 0.75rem 0 0.375rem;
  }
  .sum-payment .con .pay {
    font-size: 0.8125rem;
  }
  .sum-payment .con-a {
    height: 2.8125rem;
    margin: 0 1.1875rem;
  }
  .sum-payment .con-a .txt {
    line-height: 2.8125rem;
    font-size: 0.9375rem;
  }
  .sum-payment .con-a .num .num-a {
    height: 1.125rem;
    line-height: 1.125rem;
    font-size: 1rem;
    margin-top: 0.375rem;
  }
  .sum-payment .con-a .num .num-b {
    font-size: 0.75rem;
  }
  .type-payment {
    margin-top: 1rem;
  }
  .type-payment .title {
    height: 2.5rem;
    line-height: 2.5rem;
    font-size: 0.8125rem;
  }
  .type-payment .container {
    overflow: hidden;
  }
  .type-payment .container .left {
    height: 4.6875rem;
    border-bottom: 1px solid #eee;
  }
  .type-payment .container .left .num,
  .type-payment .container .left .pay {
    text-indent: 4.0625rem;
  }
  .type-payment .container .left .num {
    font-size: 1rem;
    margin: 1.1875rem 0 0.5625rem;
  }
  .type-payment .container .left .pay {
    font-size: 0.8125rem;
  }
  .type-payment .container .right {
    height: 4.6875rem;
    line-height: 4.6875rem;
    font-size: 0.75rem;
    margin-right: 1.5625rem;
  }
  .type-payment .container .arrow {
    width: 0.5625rem;
    height: 1rem;
    position: absolute;
    right: 0.5rem;
    top: 50%;
    margin-top: -0.5rem;
  }
  .type-payment .container .tui {
    width: 2.25rem;
    height: 1.1875rem;
    margin-left: 0.5rem;
  }
  .type-payment .xiaBi {
    background: url("../images/sum.jpg") no-repeat left 0.5625rem center;
    background-size: 2.1875rem 2.125rem;
  }
  .type-payment .yue {
    background: url("../images/yue.jpg") no-repeat left 0.5625rem center;
    background-size: 2rem 1.9375rem;
  }
  .type-payment .wx {
    background: url("../images/wx.jpg") no-repeat left 0.5625rem center;
    background-size: 2.375rem 1.9375rem;
  }
  .type-payment .zfb {
    background: url("../images/zfb.jpg") no-repeat left 0.5625rem center;
    background-size: 2.0625rem 2.0625rem;
  }
  .error-msg {
    font-size: 0.875rem;
    margin-bottom: 3.125rem;
  }
}
@media screen and (max-width: 380px) {
  .balance > .title > .main,
  .combo > .title > .main {
    width: 6.875rem;
    height: 3.375rem;
    line-height: 3.375rem;
    font-size: 1.25rem;
    text-indent: 1.75rem;
    background: url("../images/balance.jpg") no-repeat left center;
    background-size: 1.125rem 1.375rem;
  }
  .balance .con .data {
    font-size: 1.375rem;
    margin-top: 2.1875rem;
  }
  .balance .con .title {
    font-size: 1rem;
    margin: 0.875rem 0;
  }
  .balance .con .link {
    width: 50%;
    height: 2rem;
    line-height: 2rem;
    font-size: 1rem;
  }
  .balance .con .free {
    width: 5rem;
    height: auto;
  }
  .combo > .title > .main {
    background: url("../images/combo.jpg") no-repeat left center;
    background-size: 1.125rem 1.375rem;
  }
  .combo .link {
    height: 2.25rem;
    padding: 1rem 0;
    background: url("../images/combo-link.jpg") no-repeat left 0.75rem center;
    background-size: 2.25rem 2.25rem;
  }
  .combo .link .num {
    font-size: 1.125rem;
  }
  .combo .link .describe {
    font-size: 0.75rem;
    margin-top: 0.5rem;
  }
  .combo .link .num,
  .combo .link .describe {
    margin-left: 3.625rem;
  }
  .combo .link .arrow {
    width: 0.5rem;
    height: 0.875rem;
    position: absolute;
    right: 0.375rem;
    top: 50%;
    margin-top: -0.4375rem;
  }
  .footer {
    width: 15rem;
    text-indent: 3.125rem;
    background: url("../images/footer-icon.jpg") no-repeat left center;
    background-size: 2.5rem 2rem;
  }
  .footer a {
    font-size: 1rem;
  }
  .sum-payment {
    margin-top: 1.25rem;
  }
  .sum-payment .con {
    height: 4.0625rem;
    background: url("../images/sum.jpg") no-repeat left 0.5rem center;
    background-size: 2.125rem 2.0625rem;
  }
  .sum-payment .con .num,
  .sum-payment .con .pay {
    text-indent: 3.4375rem;
  }
  .sum-payment .con .num {
    font-size: 0.9375rem;
    margin: 1rem 0 0.5rem;
  }
  .sum-payment .con .pay {
    font-size: 0.75rem;
  }
  .sum-payment .con-a {
    height: 2.8125rem;
    margin: 0 1.1875rem;
  }
  .sum-payment .con-a .txt {
    line-height: 2.8125rem;
    font-size: 0.75rem;
  }
  .sum-payment .con-a .num .num-a {
    height: 1rem;
    line-height: 1rem;
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }
  .sum-payment .con-a .num .num-b {
    font-size: 0.75rem;
  }
  .type-payment {
    margin-top: 1.25rem;
  }
  .type-payment .title {
    height: 2.125rem;
    line-height: 2.125rem;
    font-size: 0.75rem;
  }
  .type-payment .container {
    overflow: hidden;
  }
  .type-payment .container .left {
    height: 3.9375rem;
    border-bottom: 1px solid #eee;
  }
  .type-payment .container .left .num,
  .type-payment .container .left .pay {
    text-indent: 3.4375rem;
  }
  .type-payment .container .left .num {
    font-size: 0.875rem;
    margin: 0.75rem 0 0.375rem;
  }
  .type-payment .container .left .pay {
    font-size: 0.75rem;
  }
  .type-payment .container .right {
    height: 3.9375rem;
    line-height: 3.9375rem;
    font-size: 0.75rem;
    margin-right: 1.3125rem;
  }
  .type-payment .container .arrow {
    width: 0.5rem;
    height: 0.875rem;
    position: absolute;
    right: 0.4375rem;
    top: 50%;
    margin-top: -0.4375rem;
  }
  .type-payment .container .tui {
    width: 1.875rem;
    height: 1.0625rem;
    margin-left: 0.375rem;
  }
  .type-payment .xiaBi {
    background: url("../images/sum.jpg") no-repeat left 1.1875rem center;
    background-size: 1.8125rem 1.75rem;
  }
  .type-payment .yue {
    background: url("../images/yue.jpg") no-repeat left 1.1875rem center;
    background-size: 1.75rem 1.6875rem;
  }
  .type-payment .wx {
    background: url("../images/wx.jpg") no-repeat left 1.1875rem center;
    background-size: 2rem 1.625rem;
  }
  .type-payment .zfb {
    background: url("../images/zfb.jpg") no-repeat left 1.1875rem center;
    background-size: 1.75rem 1.75rem;
  }
  .error-msg {
    font-size: 0.75rem;
    margin-bottom: 3.125rem;
  }
}
